.box{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}body{
    background-color: lightcyan;
}
table{
    /* border: 1px solid ; */
}
th{
    /* border: 1px solid ; */
}
td{
    /* border: 1px solid ; */
}